header.header {
    background-image: url("../../assets/images/2014_teenage_mutant_ninja_turtles_movie-3840x2160.jpg");
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .navbar {
    background: none !important;
    color: white;
    font-family: inherit;
    padding-bottom: 10px;
}

.navbar-brand {
    margin-top: -1px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #ddd;
    font-weight: bold;
}

#navbarNav ul {
    margin-left: auto;
    margin-right: 0;
}

#login, #home, #favourites {
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(53, 6, 6);
}

#home.active, #favourites.active {
    text-decoration: underline;
}

#login:hover, #home:hover, #favourites:hover {
    background-color: white;
    color: rgb(102, 10, 10);
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 20px;
    padding: 5px;
}

.form-div {
    margin-top: 30px;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 50px;
}

.form-group {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 15px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.app-name {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 3px solid white;
    margin-bottom: 40px;
}

.form {
    background-color: #e9ecef;
    display: inline-block;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    text-align: center;
}

input.form-control {
    width: 350px!important;
    min-width: 250px!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

@media(max-width: 768px) {
    .header {
        background-position: center;
    }
}