<header class=" header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mini-Netflix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link home link" id="home" >Home
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact link" id="favourites" 
                        routerLinkActive="active">Favourites</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link link" id="login" >Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="form-div">
        <div class="form-group">
            <p class="app-name">Mini-Netflix</p>
            <div class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </div>
        </div>
    </div>
</header>