<div class=" main">
    <h3>Popular Movies</h3>
    <div class="mov-group" *ngIf="movies && movies.length">

        <div class="flyin-grid__item card" *ngFor="let movie of filteredMovies">

            <img src="{{movie.Poster}}" alt="a chicken" />
            <div class="details">
                <div class="div-title-header">
                    <h4 class="title-header">{{movie.Title}}</h4>
                    <span [class.starred]='favourites.includes(movie.imdbID)' id="{{movie.imdbID}}"
                        title="Click to add to favourites" class="star" (click)="handleChanges($event.target)">
                        &#11088;</span>
                </div>

                <p>
                    <span class="title">Released: </span>
                    <span class="title-content">{{movie.Released}}</span>
                </p>

                <p>
                    <span class="title">Rated: </span>
                    <span class="title-content">{{movie.Rated}}</span>
                </p>
            </div>
            <button class="details-btn" [routerLink]="['movies', movie.imdbID]">More...</button>
        </div>

        <i aria-hidden="true"></i>
        <i aria-hidden="true"></i>
        <i aria-hidden="true"></i>
        <i aria-hidden="true"></i>
        <i aria-hidden="true"></i>
        <i aria-hidden="true"></i>
    </div>
</div>